body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  color: #000000;
  background-color: #cc96c7;

  text-align: center;

  font-family: 'Brush Script MT', cursive;
  font-size: 4vmin;

}

containFraeya {
  height: 10vmin;
  width: 10vmin;
  margin: 1vmin;
  font-size: x-small;

}

footer {
  font-size: 50%;
  width: 100%;
  position: absolute;
  margin-top: 3rem;
  bottom: 3rem;

}