body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  color: #000000;
  background-color: #cc96c7;

  text-align: center;

  font-family: 'Brush Script MT', cursive;
  font-size: 5vmin;

}

containFraeya {
  height: 600px;

}

containFraeya img {
  max-height: 100%;
  max-width: 100%;
}