body {
  display:flex;
  flex-direction: column;
  max-height: 100vh;

  color: black;
  background-image: url("/bg/19-1024x576.png");
  background-size: 25%;
  background-repeat:initial;
  background-position: center;
  background-size: cover;
  background-color: #cc96c7;

  text-align: center;

  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 4vmin;
  margin:0

}

header {
  color:white;
  background-color: rgba(80, 51, 51, 0.8);
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: fit-content;
  position: relative;
  font-size: 3vmin;
  line-height: 6vmin;
  text-align: center;

}

h1 {
  margin:0
}

h4 {
  margin:2vmin
}

#FraeyaImage {
  min-height: 40vmin;
  max-height: 40vmin;
  height: 100%;
  width: auto;
}

footer {
  font-size: 50%;
  width: 100%;
  margin-top: 1rem;
  bottom: 3rem;
  position: absolute;

}

#buttonDiv {
  margin: 1rem;
}

button {
  font-size: 50%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;

  width: 25vmin;

  background-color: #a30080; /* Green */
  border: .01rem solid #000000;
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  
}